@media all {
    .si-share-box {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .si-button {
        width: 20%;
        height: 30px;
        float: left;
        margin-right: 4px;
        color: #fff;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 14px;
        transition: all .4s ease 0s;
    }
    .si-button-small {
        width: 9%;
        height: 30px;
        float: left;
        margin-right: 4px;
        color: #fff;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 14px;
        transition: all .4s ease 0s;
    }
    .sharify-small {
        text-align: center !important;
        float: none !important;
        margin-left: auto;
        display: block;
        margin-right: auto;
    }
    .si-button div:hover {
        transition: all 3s ease-in-out !important;
    }
    .si-button a {
        color: #fff;
        text-decoration: none;
    }
    .sharify {
        font-size: 14x;
        line-height: 31px;
        color: white;
        height: 30px;
        margin-left: 4%;
        float: left;
    }
    .si-share-text {
        text-align: center;
        line-height: 30px;
    }
    .si-share-count-text {
        margin-bottom: 0px !important;
        text-align: center;
    }
    .si-share-main {
        float: left;
        width: 70.8%;
    }
    .si-share-counter {
        width: 29.2%;
        float: left;
        color: #fff;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 16px;
        line-height: 30px;
        background-color: rgba(0, 0, 0, .15);
    }
    /*Share Buttons for social networks*/
    
    .si-button-facebook {
        background-color: #3b5998;
        border-color: #3b5998;
        color: #fff;
    }
    .si-button-facebook:hover {
        background-color: #2d4373;
        border-color: #2d4373;
    }
    .si-button-twitter {
        background-color: #55acee;
        border-color: #55acee;
        color: #fff;
    }
    .si-button-twitter:hover {
        background-color: #2878B5;
        border-color: #2878B5;
    }
    .si-button-gplus {
        background-color: #dd4b39;
        border-color: #dd4b39;
        color: #fff;
    }
    .si-button-gplus:hover {
        background-color: #C23321;
        border-color: #C23321;
    }
    .si-button-pocket {
        background-color: #EB5252;
        border-color: #EB5252;
        color: #fff;
    }
    .si-button-pocket:hover {
        background-color: #CC4242;
        border-color: #CC4242;
    }
    .si-button-reddit {
        background-color: #F05E29;
        border-color: #F05E29;
        color: #fff;
    }
    .si-button-reddit:hover {
        background-color: #D3400B;
        border-color: #D3400B;
    }
    .si-button-linkedin {
        background-color: #0e76a8;
        border-color: #0e76a8;
        color: #fff;
    }
    .si-button-linkedin:hover {
        background-color: #075376;
        border-color: #075376;
    }
    .si-button-pinterest {
        background-color: #cb2028;
        border-color: #cb2028;
        color: #fff;
    }
    .si-button-pinterest:hover {
        background-color: #9A151C;
        border-color: #9A151C;
    }
}
@media only screen and (max-width: 480px) {
    .si-button, .si-button-small {
        width: 12%;
    }
    .si-share-counter {
        display: none;
    }
    .sharify {
        text-align: center !important;
        float: none !important;
        margin-left: auto;
        display: block;
        margin-right: auto;
    }
    .si-share-text {
        display: none;
    }
    .si-share-main {
        width: 100%;
    }
    .si-share-box {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .si-button {
        width: 19%;
    }
    .si-share-counter {
        display: none;
    }
    .si-share-main {
        width: 100%;
    }
    .si-share-box {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .si-button {
        width: 19.3%;
    }
    .si-share-counter {
        display: none;
    }
    .si-share-main {
        width: 100%;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .si-button {
        width: 19.3%;
    }
}